<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
      margin: 0;
      padding: 0;
    }
  div{
    width:200px;
    height: 200px;
  }
  #div1{
    margin-bottom: 10px;
    background: #ccc;
  }
  #div2{
    margin-top: 15px;
    background: #f2f2f2;
    /* display: inline-block; */
    /* float: left; */
    /* position: absolute; */
  }
  </style>
</head>
<body>
  <div id="div1"></div>
  <div id="div2"></div>
</body>
</html>